@font-face {
    font-family: 'capture_itregular';
    src: url('/assets/capture_it-webfont.eot');
    src: url('/assets/capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/capture_it-webfont.woff2') format('woff2'),
         url('/assets/capture_it-webfont.woff') format('woff'),
         url('/assets/capture_it-webfont.ttf') format('truetype'),
         url('/assets/capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;

}